/* Section hero avec background */
.hero {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between; /* Sépare le logo et les liens */
    align-items: center;
    width: 100%;
    padding: 20px 50px; /* Ajoute de l'espace autour */
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 20px; /* Réduit l'espacement entre les liens */
    font-size: 16px;
    font-weight: 600;
}

header img {
    height: 50px;
}

/* Hero content */
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.hero-content .hero-text {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 2px;
}

.hero-content .hero-text p {
    font-size: 24px;
    margin: 0;
}

.hero-content button {
    background-color: #C271FF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

/* Style pour les sections */
section {
    margin: 40px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section h2 span {
    color: #C271FF;
    font-weight: bold;
}

/* Conteneur global des pros */
.pros-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
    text-align: center;
}

/* Style pour chaque pro */
.pro {
    flex: 1;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.pro h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: white;
}

.pro p {
    font-size: 14px;
    color: #FFFF;
    margin: 0;
}
